body {
    max-height: 100%;
    width: auto;
    background-color: burlywood;
    text-align: center;
}
header,
h1 {
    font-family: 'Lalezar', cursive;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 30px;
}
.large-12 {
    width: 100%;
}
.small-12 {
    width: 33%;
}
img {
    width: 300px;
    height: 300px;
}
.img {
    width: 30%;
    margin: 1px;
    display: inline-block;
    align-content: center;
}
